{% extends 'base.html' %}

{% block nav %}
  <nav>
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="/dashboard/exit">Quitter</a></li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <div class="actions">
    {% if not activate %}
      <a href="/dashboard/activate" class="btn btn-primary">Activer</a>
    {% else %}
      <a href="/dashboard/deactivate" class="btn btn-default">Désactiver</a>
    {% endif %}
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">Confus</div>
  <div class="panel-body">
    <span id="counter">{{ counter }}</span>
  </div>
</div>
{% endblock %}
